sudo npm install -g nodemon

Stop tracking .env if already added
If you already committed .env, Git is still tracking it. You need to remove it from the Git index (without deleting the file locally):

git rm --cached .env

Then commit the change:
git commit -m "Stop tracking .env file"

confirm using:
git status

GIT PUSHING COMMANDS
to move to branch : git checkout <branch_name>
push: 1. git add .
      2. git commit -m "<give some message>"
      3. git push